/* palette */
:root {
    --night-blue: #141922;
    --gray: #282828;
    --light-gray: #a3a3a3;
}
/* basic layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0 solid transparent;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.container>header {
    width: 220px;
    height: calc(100% - 80px);
    background-color: black;
    color: var(--light-gray);
    padding: 20px;
    position: relative;
}

.container>main {
    width: calc(100% - 220px);
    height: calc(100% - 80px);
    background-color: var(--night-blue);
    overflow: auto;
}

.container>footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--gray);
}

.upgrade {
    width: calc(100% - 220px);
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}
/* header style */
header .logo {
    width: 70%;
    object-fit: contain;
    height: calc(80px - 20px);
}
/* main-menu */
.main-menu {
    height: 130px;
}

header button {
    color: var(--light-gray);
    font-size: 1.5em;
    margin: 5px 0;
}

header button>*  {
    vertical-align: middle;
}
/* text on main buttons  */
header button span {
    font-size: 0.6em;
    font-weight: 600;
}
/* align horizontal text by a fix width for the icons */
.main-menu button img {
    width: 25px;
    filter: opacity(0.7);
}
/* playlist */
.playlists {
    /* 100%- header - mainmenu - footer +2*padding */
    height: calc(100% - 80px - 130px - 80px + 20px);
}

.playlists ul {
    height: calc(100% - 25px - 40px - 10px);
    overflow: auto;
}
.playlists h2 {
    color: white;
    text-transform: uppercase;
    font-size: 0.85em;
    height: 25px;
}

.playlists button span:first-child {
    width: 40px;
    height: 40px;
    color: black;
    background-color: var(--light-gray);
    font-size: 1.4em;
    font-weight: 400;
    display: inline-block;
    line-height: 100%;
}

.playlists button span:nth-child(2) {
    font-size: 1rem;
}

.playlist {
    font-size: 0.56rem;
    margin: 10px 0;
}

.playlists .playlist button {
    font-weight: 700;
}
/* user */
.user-area {
    height: 80px;
    width: 100%;
    background-color: black;
    position: relative;
}

.user-area img {
    width: 20px;
    object-fit: contain;
    filter: opacity(0.5);
}
/* main upgrade */
.upgrade button {
    font-size: 0.8rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1px solid white;
    margin-right: 30px;
    border-radius: 30px;
}
/* main nav */
.categories {
    margin-top: 80px;
}

.categories ul {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.categories ul li {
    margin-right: 2%;
    height: 100%;
    display: flex;
}

.categories ul li  button {
    color: var(--light-gray);
    font-weight: 700;
    font-size: 0.78em;
    text-transform: uppercase;
}
/* main content */
.row {
    padding: 20px;
}

.row h2 {
    margin-bottom: 20px;
    font-weight: 800;
}

.row ul {
    display: flex;
}

.row ul li {
    width: calc((100% / 6) - (100px / 6));
    margin: 10px;
    text-align: center;
}
/* align gallery items with the others */
.row ul li:first-child {
    margin-left: 0;
}
.row ul li:last-child {
    margin-right: 0;
}

.row ul li img {
    width: 100%;
    object-fit: contain;
}

.row ul li h3 {
    margin: 10px;
    font-size: 1rem;
}

.row p {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--light-gray);
}
/* 2nd and 3rd row */
.for-you h2,
.popular h2 {
    margin-bottom: 10px;
}

.for-you>p,
.popular>p {
    margin-bottom: 20px;
}
/* 3rd row circle */
.popular li img {
    border-radius: 50%;
}